<div class="dididiv">
  <accordion>
    <accordion-item value="one">
      <accordion-trigger>
        <p>one</p>
      </accordion-trigger>
      <accordion-body>
        <h1>harsh</h1>
        <h2>harsh</h2>
        <h3>harsh</h3>
        <h4>harsh</h4>
      </accordion-body>
    </accordion-item>
    <accordion-item value="two">
      <accordion-trigger>
        <p>two</p>
      </accordion-trigger>
      <accordion-body>
        <p>2</p>
      </accordion-body>
    </accordion-item>
    <accordion-item value="three">
      <accordion-trigger>
        <p>two</p>
      </accordion-trigger>
      <accordion-body>
        <p>2</p>
      </accordion-body>
    </accordion-item>
  </accordion>
  <br />
  <div style="display: flex; gap: 1rem;">
    <dele-button (click)="addSonner()">sonner</dele-button>
    <dele-button (click)="addAlertDialog()">aslert dialog</dele-button>
    <Avatar dClass="h-20 w-20 bg-red-500" alt="image" src="https://github.com/HarshKanjiya.png" [lazyLoad]="true" />
  </div>

  <!-- <div style="display: flex;gap: 1rem; width: 100%;">
    <dele-alert type="classic" style="flex: 1;">
      <dele-alert-title>title</dele-alert-title>
      <dele-alert-description>desc</dele-alert-description>
    </dele-alert>
    <dele-alert type="success" style="flex: 1;">
      <dele-alert-title>title</dele-alert-title>
      <dele-alert-description>desc</dele-alert-description>
    </dele-alert>
    <dele-alert type="warning" style="flex: 1;">
      <dele-alert-title>title</dele-alert-title>
      <dele-alert-description>desc</dele-alert-description>
    </dele-alert>
    <dele-alert type="error" style="flex: 1;">
      <dele-alert-title>title</dele-alert-title>
      <dele-alert-description>desc</dele-alert-description>
    </dele-alert>
    <dele-alert type="custom" style="flex: 1;">
      <dele-alert-title>title</dele-alert-title>
      <dele-alert-description>desc</dele-alert-description>
    </dele-alert>
  </div> -->

  <Sonner></Sonner>
  <dele-alert-dialog></dele-alert-dialog>

</div>